body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block; /* Asegura que ocupe su propia línea */
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #0056b3;
    font-weight: bold;
}

/* Estilo para los elementos dinámicos que se crearán */
div {
    background-color: #e2e2e2;
    padding: 15px;
    border-left: 5px solid #007BFF;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    color: #555;
}