{% extends 'base.html.twig' %}

{% block title %}Bienvenida{% endblock %}

{% block body %}
    <h1>Bienvenido a la aplicación Symfony</h1>
    <p>Esta es tu primera vista creada con el motor de plantillas <strong>Twig</strong>.</p>
{% endblock %}
