{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <h1>Bienvenido a mi primera aplicación Symfony</h1>
    <p>Ejercicio 1 — Primera ruta en Symfony 7.</p>
{% endblock %}
