{% extends 'base.html.twig' %}

{% block title %}Multiplicar{% endblock %}

{% block body %}
    <h1>Multiplicación</h1>
    <p>{{ num1 }} × {{ num2 }}</p>
    <div class="result">El resultado es: {{ resultado }}</div>
{% endblock %}
