<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reloj Digital</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <div class="reloj-container">
    <h2>Reloj en Tiempo Real</h2>
    <!-- RA3_d: Área donde se generará dinámicamente la hora -->
    <div id="reloj">--:--:--</div>

    <!-- RA3_f: Botón para cerrar la ventana -->
    <button type="button" id="btnCerrar" class="btn-cerrar">Cerrar</button>
  </div>

  <script src="../js/reloj.js"></script>
</body>

</html>