<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reloj Digital - Tarea 3</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <div class="container">
    <h1>Reloj digital</h1>
    <hr>
    <p>Reloj implementado por: Benjamin Santiago González</p>

    <!-- RA3_f: Botón para abrir ventana emergente -->
    <button type="button" id="btnHora" onclick="abrirReloj()">Dame la hora</button>
  </div>

  <script src="../js/main.js"></script>
</body>

</html>