    body {
      font-family: sans-serif;
      padding: 20px;
    }

    .autor-card {
      border: 1px solid #ccc;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 5px;
      background-color: #f9f9f9;
    }

    .autor-info {
      font-weight: bold;
      color: #333;
      font-size: 1.2em;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #007BFF;
      color: white;
    }
