form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #fbff00;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #1eff00;
}

form input[type="reset"] {
    background-color: #ffae00;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

form input[type="reset"]:hover {
    background-color: #ff0101;
}