.articulo {
    background-color: white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.articulo h2 {
    color: #444;
}

.articulo img {
    width: 33%;
    height: auto;
    margin-top: 10px;
}